.header{
	position: relative;
	background: #00000085;
	align-items: center;
	border-bottom: 1px solid black;
	display: flex;
	box-shadow: 0 0 8px 0 black;

	.left {
		border-right: 2px solid;
		font-size: 26px;
		padding: 0 15px 0 15px;
		cursor: pointer;
		text-align: center;
	}

	.right {
		font-size: 18px;
		text-align: center;
		padding: 10px;
		cursor: pointer;
		height: 24px;
	}
}

.header-menu{
	.item-list{
		display: flex;
		position: absolute;
		right: 0px;
		top: 7px;
		font-size: 24px;
		.item{
		    padding: 0 10px;
		    cursor: pointer;

		    &.active{
		    	color: white;
		    }
		}
	}
	.header-zoom{
		position: absolute;
		right: 10px;
		color: white;
		opacity: 0.8;
		top: 50px;
		font-size: 22px;
	}
}